<!DOCTYPE html>
<html>
<head>
  <title>Flair</title>
  <%= stylesheet_link_tag    "flair/application", :media => "all" %>
  <%= javascript_include_tag "flair/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
